<app-banner title="Contact Us"></app-banner>
<div class="py-12">
  <div class="flex flex-col lg:flex-row items-stretch px-6" >
    <!-- Left Section with Contact Information -->
    <div class="lg:w-3/6 w-full mb-8 lg:mb-0 lg:mx-10">
      <div class="flex flex-col items-start space-y-6" data-aos="fade-up">
        <!-- Logo and Title -->
        <div class="flex items-center space-x-4">
          <h1 class="text-4xl font-bold text-green-500">
            GMC Automation and Solutions 
          </h1>
        </div>

        <!-- Name and Designation -->
        <div class="text-left">
          <p class="text-3xl my-2 font-semibold">Name: Ujjappa C M</p>
          <p class="text-xl text-gray-600">(Proprietorship)</p>
        </div>

        <!-- Contact Details -->
        <div class="space-y-4 text-lg">
          <!-- Phone -->
          <div class="flex items-center space-x-4">
            <button mat-mini-fab class="custom-green-button">
              <mat-icon class="text-white">call</mat-icon>
            </button>
            <span class="font-semibold text-gray-700">+91-8095586546</span>
          </div>

          <!-- Email -->
          <div class="flex items-center space-x-4">
            <button mat-mini-fab class="custom-green-button">
              <mat-icon class="text-white">email</mat-icon>
            </button>
            <span class="font-semibold text-gray-700"
              >ujjappa&#64;gmcautomations.com</span
            >
          </div>

          <!-- GST -->
          <div class="flex items-center space-x-4">
            <button mat-mini-fab class="custom-green-button">
              <mat-icon class="text-white">description</mat-icon>
            </button>
            <span class="font-semibold text-gray-700">29AEJPU9970Q1Z0</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Section with Image -->
    <div class="lg:w-3/6 w-full lg:pl-12 flex-shrink-0" data-aos="fade-up">
      <img
        src="../../../assets/images/contact.jpg"
        alt="Contact Image"
        class="w-full h-auto rounded-lg object-cover"
      />
    </div>
  </div>
  <div class="p-6 bg-gray-200 lg:my-4  " data-aos="fade-up">
    <div
      class="flex flex-col lg:flex-row items-stretch  w-full "
    >
      <!-- Left Section with location Information -->
      <div class="lg:w-4/6 w-full mb-8 lg:mb-0 lg:mx-10">
        <div class="text-left my-4">
         
        </div>
        <div class="flex space-x-4">
          <button mat-mini-fab class="custom-green-button">
            <mat-icon class="text-white">location_on</mat-icon>
          </button>
          <p class=" text-gray-800 text-xl">
            <span class="text-3xl py-2 font-semibold">
              GMC Automation and Solutions
            </span> <br>
            No.49 Ground floor 8th A Cross Balaji Nagar, <br />
            Thigalarapalya Main road, <br />
            Peenya second stage, Bangalore-560058
          </p>
        </div>
      </div>
      <div class="lg:w-2/6 w-full mb-8 lg:mb-0 lg:mx-10 border flex-shrink-0">
        <div class="text-center">Location map</div>
      </div>
    </div>
  </div>
</div>
