<div class="" >
  <div 
    class="lg:min-h-[600px] min-h-[300px]  max-w-full relative flex justify-center" 
    style="background-color: var(--color-variant1);"
    data-aos="fade-down" 
   >
    <img src="{{ img }}" alt="" class="absolute lg:w-[100%] lg:max-h-[600px]" />
  </div>
  <div class="py-4  h-full px-10 bg-[url('assets/images/bg.png')] bg-[#7F9F80] pt-8" >
    <h1 class="text-center lg:text-6xl text-4xl font-medium ">
      What <span class="text-green-500">We Offer</span>
    </h1>
    <div class="grid grid-cols-1 lg:grid-cols-2  gap-4 my-8"  data-aos="fade-up" >
      <div class="flex lg:flex-row flex-col items-center  md:gap-10 gap-3 bg-[#FFC374] p-3 rounded-md " *ngFor="let item of offer">
        <img src="{{item.img}}" alt="" class="rounded-full w-36 h-36 " />
        <div class="">
                <h1 class="font-medium lg:text-3xl text-2xl  md:text-start text-center text-green-700">{{item?.title}}</h1>
                <p class="mt-2  font-normal lg:text-2xl text-xl md:text-start text-center">{{item?.subtitle1}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="px-10 pt-8" data-aos="fade-up" >
    <h1 class="text-center text-4xl md:text-6xl font-medium" >
      Leading <span class="text-green-500">We repair</span>
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 my-10 mx-auto">
      <div class="w-full transition-transform transform hover:scale-105" *ngFor="let item of leading">
        <div class="border-4 border-green-500 rounded-md overflow-hidden">
          <img class="w-full h-32 " src="{{item?.img}}" alt="leading img">
        </div>
      </div>
    </div>
  </div>
</div>
