<app-banner title="Services"></app-banner>
<div class="container mx-auto px-6 py-12">
    <div class="flex flex-col lg:flex-row items-stretch">
      <!-- Left Section with Text Content -->
      
        <div class="lg:w-4/6 w-full lg:pl-12 flex items-center text-xl" data-aos="fade-up">
            <ul class="list-disc space-y-4 pl-5 text-lg leading-relaxed">
              <li *ngFor="let text of services">{{text?.point}}</li>
            </ul>
          </div>
      <!-- right Section with Image -->
      <div class="lg:w-2/6 w-full mb-8 lg:mb-0 flex-shrink-0" data-aos="fade-up">
        <img src="./assets/images/aboutus.jpg" alt="Team image" class="rounded-lg w-full h-full object-cover">
      </div>
      
      
    </div>
  </div>
