/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; box-sizing: border-box;  margin: 0; padding: 0; scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  --color-variant1: #124076;
  --color-variant2: #22c55e;
  --color-variant3: #7F9F80;
  --color-variant4:#FFC374 ;
  --color-card-background: #028391;
  --color-card-border: #028391;
  --color-text: #F6DCAC;
  --color-button-background: #F6DCAC;
  --color-button-text: #01204E;
  --color-shadow: #01204E;
--color-left-background:#8CA1A5
}